@model IEnumerable<CasosUso.DTOs.EnvioDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<span>@ViewBag.Mensaje</span>

<p>
    <a asp-action="Create">Crear envio</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NTracking)
            </th>
            <th>
                Envio
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEnvio)
            </th>
            <th>
                Destino
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NTracking)
                </td>
                <td>
                    @(item.Direccion == null ? "Común" : "Urgente")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso) kg
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEnvio)
                </td>
                <td>
                    @(item.Direccion == null ? item.Agencia.Nombre : item.Direccion)
                </td>
                <td>
                    @Html.ActionLink("Finalizar", "Finalizar", new { id = item.Id })
                    @Html.ActionLink("Comentar", "Comentar", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
