@model IEnumerable<WebCliente.DTOs.EnvioDTO>

@{
    ViewData["Title"] = "Envios";
}

<h1>Envios</h1>

@if (ViewBag.Error != null)
{
    <span>@ViewBag.Error</span>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NTracking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NTracking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso) Kg
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @item.FechaEnvio?.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @if (!item.FechaEntrega.Equals(default(DateTime)))
                        @Html.DisplayFor(modelItem => item.FechaEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Detalle", new { nTracking = item.NTracking })
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Count() == 0)
{
    <span>No hay envios</span>
}
