@model WebCliente.Models.EnviosViewModel

@{
    ViewData["Title"] = "Envios";
}

<div class="container-xxl py-4">
    <h1 class="mb-4">Envios</h1>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }


    <form asp-action="BuscarEnvios" class="d-lg-flex justify-content-between mb-5">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="d-md-flex gap-3 align-items-end mb-3 mb-lg-0">
            <div>
                <label asp-for="FInicio" class="form-label">Desde</label>
                <input asp-for="FInicio" type="date" class="form-control" />
            </div>
            <div>
                <label asp-for="FFin" class="form-label">Hasta</label>
                <input asp-for="FFin" type="date" class="form-control" />
            </div>

            <div class="mb-3 mb-md-0">
                <label asp-for="Estado" class="form-label">Estado</label>
                <select asp-for="Estado" class="form-select">
                    <option value="">Todos</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
            </div>
            <input name="filtros" type="submit" value="Filtrar" class="btn btn-primary" />
        </div>


        <div class="d-md-flex gap-3 align-items-end">
            <input asp-for="Comentario" class="form-control mb-3 mb-md-0" placeholder="Buscar por comentario" />
            <input name="comentarios" type="submit" value="Buscar" class="btn btn-primary" />
        </div>
    </form>


    @if (ViewBag.Error == null && Model.Envios != null && Model.Envios.Any())
    {
        <div class="table-responsive">
            <table class="table table-bordered table-hover align-middle">
                <thead class="table-light text-center">
                    <tr>
                        <th>@Html.DisplayNameFor(_ => new WebCliente.DTOs.EnvioDTO().NTracking)</th>
                        <th>@Html.DisplayNameFor(_ => new WebCliente.DTOs.EnvioDTO().Vendedor)</th>
                        <th>@Html.DisplayNameFor(_ => new WebCliente.DTOs.EnvioDTO().Estado)</th>
                        <th>@Html.DisplayNameFor(_ => new WebCliente.DTOs.EnvioDTO().FechaEnvio)</th>
                        <th>@Html.DisplayNameFor(_ => new WebCliente.DTOs.EnvioDTO().Direccion)</th>
                        <th>Comentarios</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Envios)
                    {
                        <tr class="text-center">
                            <td>@Html.DisplayFor(modelItem => item.NTracking)</td>
                            <td>@Html.DisplayFor(modelItem => item.Vendedor)</td>
                            <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                            <td>@item.FechaEnvio?.ToString("dd/MM/yyyy")</td>
                            <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                            <td>@item.Comentarios.Count()</td>
                            <td>
                                @Html.ActionLink("Detalle", "Detalle", new
                                    {
                                        nTracking = item.NTracking,
                                        fInicio = Model.FInicio?.ToString("yyyy-MM-dd"),
                                        fFin = Model.FFin?.ToString("yyyy-MM-dd"),
                                        estado = Model.Estado,
                                        comentario = Model.Comentario
                                    }, new { @class = "btn btn-outline-dark btn-sm" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="text-center mt-5">
            <p class="no-envios">No hay envíos</p>
        </div>
    }
</div>
